body {
    margin: 0px;
    background-color: #591E5D;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#stream {
    flex: 50%;
}

#stream video {
    width: 100%;
    height: auto;
}

#hud {
    position: absolute;
    top: 0;
    height: 500px;
    width: 92%;
    left: 4%;
}

#main {
    color: white;
}

#nipple_0_0 {
    left: 50%;
    margin-top: 80px;
}


#loading {
    display: block;
    margin: auto;
    position: relative;
    bottom: 50%;
}

#speech-form {
    color: white;
    margin: 30px;
}

#controls-row {
    height: 135px;
}

.control-interface {
    border: 1px solid;
}

.control-boxes {
    border: 1px solid;
    display: flex;
}

#recorder-container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.record-button {
    margin: 10px;
    height: 64px;
}

#youtube-form {
    width: 50%;
    margin-left: 50px;
    color: red;
}
#transcript {
    flex: 50%;
}
#transcript-container {
    color: white;
    font-size: 16px;
    margin-left: 10px;
    background-color: rgba(0.2,0.2,0.2,0.4);
    position: relative;
    height: 99%;
    border: 1px solid;
}

.control-section {
    border-style: solid;
    padding-bottom: 10px;
}
#input-titles {
    display: flex;
    justify-content: center;
}
.section-title {
    color: #72ff00;
    font-size: 18px;
    position: absolute;
    top: 15px;
}

.interface-title {
    flex: 50%;
    text-align: center;
}

#input-content {
    display: flex;
}

.transcript-line.system {
    color: #26ff00;
}
