body {
    margin: 0px;
    background-color: #1A1A1A;
    overflow: hidden;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#stream {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#stream video {
    margin: auto;
    display: block;
}

#hud {
    position: absolute;
    top: 0;
    height: 500px;
    width: 92%;
    left: 4%;
}

#main {
    padding: 0;
    margin: 0;
}

#nipple_0_0 {
    left: 50%;
    margin-top: 80px;
}


#loading {
    display: block;
    margin: auto;
    position: relative;
    bottom: 50px;
}

#speech-form {
    color: white;
    margin: 30px;
}

#controls-row {
    height: 135px;
}

#recorder-container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.record-button {
    margin: 10px;
    height: 64px;
}

#youtube-form {
    width: 50%;
    margin-left: 50px;
    color: red;
}
