body {
    margin: 0px;
    background-color: #000000;
    overflow: hidden;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#control-local-video  {
    height: 150px;
}
#control-remote-videos video {
    height: 600px;
}

