body {
    margin: 0px;
    background-color: #000000;
    overflow: hidden;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#loading-image {
    margin: auto;
}
#avatar {
    height: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
#interface {
    height: 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#interface.on {
    background-color: purple;
}
#text-output {
    color: white;
    font-size: 48px;
}

